.contact {
  .card {
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

    &:hover {
      border-color: #888;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }
  }

  .card2 {
    padding: 2rem;
    background-color: var(--light-blue);
    color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h3,
    p {
      color: #fff;
    }

    .icons {
      margin: 3rem 0;

      span {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 1rem;

        a,
        p {
          margin-left: 5px;
          transition: color 0.3s ease;

          &:hover {
            color: #eee;
          }
        }
      }
    }
  }

  .section {
    display: flex;
    align-items: start;
    gap: 1rem;

    form {
      width: 500px;
      max-width: 100%;
      label {
        display: block;
        font-size: 1.4rem;
        font-weight: 500;
      }
      input[type="text"],
      input[type="number"],
      input[type="file"],
      input[type="email"],
      select,
      textarea,
      input[type="password"] {
        display: block;
        font-size: 1.6rem;
        font-weight: 300;
        padding: 1rem;
        margin: 1rem auto;
        width: 100%;
        border: 1px solid #777;
        border-radius: 3px;
        outline: none;
        transition: all 0.3s ease;

        &:focus {
          border-color: var(--light-blue);
        }
      }
    }
  }
}

/* yourStyles.module.css */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoImage {
  width: 100%;
  max-width: 450px; /* Adjust this value to set the maximum width of the image */
  height: auto;
  transition: transform 0.3s ease-in-out;
}
//when hover on logo, the logo will be bigger
.logo:hover .logoImage {
  transform: scale(1.1);
}


@media screen and (max-width: 700px) {
  .contact {
    .section {
      flex-direction: column;
    }
  }
}
